@keyframes v-bubble-effect {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(20);
  }
}

.v-bubble-button {
  z-index: 0;
  width: 10%;
  height: 10%;
  border-radius: 50%;
  // background: radial-gradient(circle, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%);
  background: #ffffff;
  animation: v-bubble-effect 1s cubic-bezier(0.645, 0.045, 0.355, 1) forwards; //全局自定义动画
}
